@use '../../../styles/mixins';

.Sociallinks {
	svg {
		color: var(--secondary);
		font-size: var(--text-2xl);
		transition-duration: var(--quicker);

		&:hover {
			color: var(--common);
		}

		@include mixins.non-hover {
			&:hover {
				color: var(--secondary);
			}
		}
	}
}
