@use '../../../styles/mixins';

.Projectcard {
	background-color: var(--primary-tint);
	color: var(--secondary);
	height: 100%;
	padding: var(--space-xl);
	gap: var(--space-md);

	& {
		border-radius: var(--br);
		overflow: hidden;
		box-shadow: var(--shadow);
		transition-duration: var(--quicker);

		&:hover {
			box-shadow: var(--shadow-hover);
			transform: translateY(calc(var(--space-2xs) * -1));
		}

		@include mixins.non-hover {
			&:hover {
				transform: none;
				box-shadow: var(--shadow);
			}
		}
	}

	@include mixins.sm {
		font-size: var(--text-lg);
	}

	.heading {
		gap: var(--space-md);
		justify-content: flex-start;
		width: 100%;
		margin-bottom: var(--space-md);

		a {
			color: var(--secondary);
			font-size: var(--text-2xl);
		}
	}

	h2 {
		line-height: var(--line-none);
		color: inherit;
		font-size: var(--text-lg);
	}

	p {
		color: inherit;
	}

	.description {
		flex: 1;
		font-size: var(--text-md);
	}

	.techstack {
		font-size: var(--text-sm);
		font-family: "JetBrains Mono", monospace;
		flex-wrap: wrap-reverse;
		width: 100%;
		justify-content: flex-start;

		p {
			color: var(--common);
			width: auto;
		}
	}
}
