:root {
	--quickest: 100ms;
	--quicker: 300ms;
	--quick: 500ms;
	--slow: 1000ms;
}

.appear {
	animation-name: slide-up;
	animation-duration: var(--slow);
	animation-fill-mode: forwards;
	animation-delay: var(--quicker);
}

@keyframes slide-up {
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
