:root {
	--space-3xs: 0.1em;
	--space-2xs: 0.3em;
	--space-xs: 0.5em;
	--space-sm: 0.65em;
	--space-md: 0.75em;
	--space-lg: 1em;
	--space-xl: 1.5em;
	--space-2xl: 1.875em;
	--space-3xl: 2.25em;
	--space-4xl: 3em;
	--space-5xl: 3.75em;
	--space-6xl: 4.5em;
	--space-7xl: 6em;
	--space-8xl: 8em;
	--space-9xl: 10em;
}
