@use "../../../styles/mixins";

.Fixedcontainer {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: calc(var(--screen-2xl) + (var(--space-xl) * 2));
	width: 100%;
	height: 100vh;
	padding: 0 var(--space-xl);
	pointer-events: none;
	will-change: transform;

	.linkscontainer {
		position: absolute;
		right: var(--space-xl);
		top: 50%;
		transform: translate(200%, -50%);
		pointer-events: auto;
		opacity: 0;
		animation-name: slide-in;
		animation-duration: var(--slow);
		animation-fill-mode: forwards;
		animation-delay: var(--slow);

		@include mixins.md {
			display: none;
		}
	}
}

@keyframes slide-in {
	100% {
		transform: translate(0, -50%);
		opacity: 1;
	}
}
